<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pcl.springlongkuang.Mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="org.pcl.springlongkuang.Model.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="gps_device" property="gpsDevice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, car_num, gps_device
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cars
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByKeyWord" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from cars
    where car_num like  #{keyWord,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from cars
    where car_num like  #{keyWord,jdbcType=VARCHAR}
    order by #{order_by,jdbcType=VARCHAR} #{rule,jdbcType=VARCHAR}
  </select>

  <select id="selectBykeyWords" resultMap="BaseResultMap">
    select *
    from cars
    where car_num like  #{keyWord,jdbcType=VARCHAR}
    order by #{sortCondition,jdbcType=VARCHAR} #{sortRule,jdbcType=VARCHAR}
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cars
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.pcl.springlongkuang.Model.Car" >
    insert into cars (id, car_num, gps_device
      )
    values (#{id,jdbcType=INTEGER}, #{carNum,jdbcType=VARCHAR}, #{gpsDevice,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.pcl.springlongkuang.Model.Car" >
    insert into cars
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carNum != null" >
        car_num,
      </if>
      <if test="gpsDevice != null" >
        gps_device,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="gpsDevice != null" >
        #{gpsDevice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.pcl.springlongkuang.Model.Car" >
    update cars
    <set >
      <if test="carNum != null" >
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="gpsDevice != null" >
        gps_device = #{gpsDevice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.pcl.springlongkuang.Model.Car" >
    update cars
    set car_num = #{carNum,jdbcType=VARCHAR},
      gps_device = #{gpsDevice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>